<!--navbar-->
<app-navbar2></app-navbar2>
<!--final navbar-->

<!--listado encargado-->
<h2 class="text-center titulo">Listado de Encargados</h2>
<div class="container my-3">
    <div class="row">

        <div class="col-md-3 siderbar">
            <app-siderbar></app-siderbar>
        </div>

        <div class="col-md-8">
            <div style="margin-left:73%;" >
                <a class="btn btn-success shadow" href="http://localhost:4200/registroEncargado" role="button">AGREGAR ENCARGADO</a>
            </div>
    
            <table class="table table-striped table-bordered table-hover my-3">
                <thead>
                    <tr class="tabla text-white text-center">
                        <td >Nombre</td>
                        <td>Fecha.Nac</td>
                        <td>Genero</td>
                        <td>Correo Electronico</td>
                        <td>Telefono</td>
                        <td>Supermercado</td>
                        <td>Accion</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let ListadoEncargado of ListadoEncargados">
                        <td >{{ListadoEncargado.nombre}} {{ListadoEncargado.apellidoP}} {{ListadoEncargado.apellidoM}}</td>
                        <td>{{ListadoEncargado.fecha_Nacimiento}}</td>
                        <td>{{ListadoEncargado.genero}}</td>
                        <td>{{ListadoEncargado.correo}}</td>
                        <td>{{ListadoEncargado.telefono}}</td>
                        <td *ngFor="let  RegistroSupermercado of RegistroSupermercados">{{RegistroSupermercado.nombreSupermercado}}</td>
                        <td><a class="btn btn-warning text-white shadow" href="http://localhost:4200/edicionEncargado" role="button">EDITAR</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--final listado encargado-->