<!--navbar-->
<app-navbar2></app-navbar2>
<!--final navbar-->

<!--listado Supermercados-->
<h2 class="text-center titulo">Listado de Supermercados</h2>
<div class="container my-3">
    <div class="row">

        <div class="col-md-3 siderbar">
            <app-siderbar></app-siderbar>
        </div>

        <div class="col-md-8">
            
    
            <table class="table table-striped table-bordered table-hover my-3">
                <thead>
                    <tr class="tabla text-white text-center">
                        <td>Razon Social</td>
                        <td>Estado</td>
                        <td>Correo Electronico</td>
                        <td>Telefono</td>
                        <td>Accion</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let ListadoSupermercado of ListadoSupermercados">
                        <td>{{ListadoSupermercado.razonSocial}}</td>
                        <td>{{ListadoSupermercado.estado}}</td>
                        <td>{{ListadoSupermercado.correo}}</td>
                        <td>{{ListadoSupermercado.telefono}}</td>
                        <td><a class="btn btn-primary  text-white shadow" href="" role="button">VER DETALLES</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--final listado Supermercados-->