<!--navbar-->
<app-navbar2></app-navbar2>
<!--final navbar-->

<!--Registro Supermercado-->
<div class="row">
    <h2 class="text-center">Registro Supermercado</h2>
</div>

<div class="conteiner my-3">
    <div class="container ">
        <div class="row justify-content-center">

            <div class="card shadow" style="width: 50rem;">
                <div class="card-body">
                    <div class=" d-flex input-group mb-3 my-3">
                        <form [formGroup]="formularioRegistrar">
                            <div class=" d-flex input-group mb-3 my-3 shadow ">
                                <input type=" text " class="form-control " placeholder="Nombre Supermercado" aria-describedby="basic-addon1 " formControlName="nombreSupermercado">
                                <input type="text " class="form-control " placeholder="Ingresa Calle " aria-describedby="basic-addon1 " formControlName="calle">
                                <input type=" text " class="form-control " placeholder="Numero #23" aria-describedby="basic-addon1 " formControlName="numero">
                            </div>

                            <div class=" d-flex input-group mb-3 my-3 shadow">
                                <input type="text " class="form-control " placeholder="Codigo Postal Ej: 60100" aria-describedby="basic-addon1 " formControlName="codigoPostal">
                                <input type="text " class="form-control " placeholder="Colonia/Delegacion Ej: Guadalupe Vi..." aria-describedby="basic-addon1 " formControlName="colonia">
                                <input type="text " class="form-control " placeholder="Estado Ej: Michoacan" aria-describedby="basic-addon1 " formControlName="estado">
                                <input type="text " class="form-control " placeholder="Ciudad Ej: Morelia" aria-describedby="basic-addon1 " formControlName="ciudad">
                            </div>

                            <div class=" d-flex input-group mb-3 my-3 shadow">
                                <input type="text " class="form-control " placeholder="Razon Social" aria-describedby="basic-addon1 " formControlName="razonSocial">
                                <input type="text " class="form-control " placeholder="Correo Electronico example@gmail.com" aria-describedby="basic-addon1 " formControlName="correo">
                            </div>

                            <div class=" d-flex input-group mb-3 my-3 shadow">
                                <input type="text " class="form-control " placeholder="Telefono 7861107147" aria-describedby="basic-addon1 " formControlName="telefono">
                            </div>
                        </form>
                    </div>
                    <div (click)="registrarbtn()" class=" input-group justify-content-center" btn>
                        <a href="" class="btn  btn-success shadow">REGISTRAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="my-3" style="margin-left: 10%;" btn>
        <a href="http://localhost:4200/listadoDepartamentos" class="btn  btn-danger shadow">NO REGISTRAR</a>
    </div>
</div>
<!--Registro Supermercado-->