<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<div class="btn-group">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fas fa-bars"></i>
  </button>
    <ul class="dropdown-menu menu" aria-labelledby="dropdownMenuButton">
        <a class=" btn-group d-flex align-items-center text" href="http://localhost:4200/listadoEncargado"><img id="icon" src="\assets\SUPER-ADMIN\SIDE BAR\encargados.svg" width="40px"> Listado de Encargados</a>
        <a class=" btn-group d-flex align-items-center text" href="http://localhost:4200/listadoSupermercado"><img id="icon" src="\assets\SUPER-ADMIN\SIDE BAR\supermercado.svg" width="40px"> Listado de Supermercados</a>
    </ul>
</div>