<form [formGroup]="formularioEditar">

    <!--navbar-->
    <app-navbar2></app-navbar2>
    <!--final navbar-->

    <!--Registro Supermercado-->
    <div class="row">
        <div class="col-md-4">
            <a id="regresar" href="http://localhost:4200/listadoTrabajadores">
                < Regresar</a>
        </div>

        <div class="col-md-7">
            <h2 class=" titulo">Edicion de Trabajadores</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3">
                <select id="inputState" class="form-control " formControlName="departamento">
                <option selected>Departamentos</option>
                <option  *ngFor="let ListadoDepartamento of ListadoDepartamentos">{{ListadoDepartamento.nombreDepartamento}}</option>
            </select>
            </div>

        </div>
    </div>

    <div class="conteiner my-5">
        <div class="container ">
            <div class="row justify-content-center">
                <div class="col-md-3 siderbar">
                    <app-siderbar2></app-siderbar2>
                </div>
                <div class="card shadow" style="width: 50rem;">
                    <div class="card-body">
                        <div class=" d-flex input-group mb-3 my-3">

                            <div class=" d-flex input-group mb-3 my-3 shadow ">
                                <input type=" text " class="form-control " placeholder="ID 123" aria-describedby="basic-addon1 " formControlName="idUser">
                                <input type="text " class="form-control " placeholder="Ingresa Nombre " aria-describedby="basic-addon1 " formControlName="nombre">
                                <input type=" text " class="form-control " placeholder="Apellidos" aria-describedby="basic-addon1 " formControlName="apellido">
                            </div>

                            <div class=" d-flex input-group mb-3 my-3 shadow">
                                <select id="inputState" class="form-control" formControlName="diasLaborales">
                                <option selected>Dias Laborales</option>
                                <option>L, M, M, J, V, S, D</option>
                                <option>L, M</option>
                                <option>L, M, M</option>
                                <option>L, M, M, J</option>
                                <option>L, M, M, J, V</option>
                                <option>L, M, M, J, V, S</option>
                                <option>S, D</option>
                            </select>
                                <input type="text " class="form-control " placeholder="Telefono 7861107147" aria-describedby="basic-addon1 " formControlName="telefono">
                            </div>

                        </div>
                        <div class=" input-group justify-content-center" btn>
                            <button (click)="editarbtn()" href="" class="btn  btn-success shadow">GUARDAR CAMBIOS</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--Registro Supermercado-->
</form>