.titulo{
    margin-left: 6%;
    font-size: 25px;
}

.card{
    margin: auto;
}

#regresar{
    font-size: 18px;
    margin-left: 120px;
    margin-top: 300%;
    text-decoration: transparent;
}

.btn{
    margin: auto;
}