<!--navbar-->
<app-navbar2></app-navbar2>
<!--final navbar-->

<!--edicion encargado-->
<div class="row">
    <div class="col-md-4">
        <a id="regresar" href="listadoEncargado">
            < Regresar</a>
    </div>

    <div class="col-md-7">
        <h2 class=" titulo">Edición de Encargados</h2>
    </div>
</div>


<div class="conteiner my-3">
    <div class="container ">
        <div class="row">

            <div class="col-md-3 siderbar">
                <app-siderbar></app-siderbar>
            </div>

            <div class="card shadow col-md-8 " style="width: 50rem;">
                <div class="card-body">
                    <div class="row justify-content-center ">

                        <div class=" d-flex input-group mb-3 my-3">


                            <div class=" d-flex input-group mb-3 my-3 shadow">
                                <input type=" text " class="form-control " placeholder="Nombre " aria-label="Username " aria-describedby="basic-addon1 ">
                                <input type="text " class="form-control " placeholder="Apellido Paterno " aria-label="Username " aria-describedby="basic-addon1 ">
                                <input type=" text " class="form-control " placeholder="Apellido Materno " aria-label="Username " aria-describedby="basic-addon1 ">
                            </div>

                            <div class=" d-flex input-group mb-3 my-3 shadow">
                                <input type="text " class="form-control " placeholder="Fecha de Nacimiento example:25082021" aria-label="Username " aria-describedby="basic-addon1 ">
                                <select id="inputState" class="form-control">
                                  <option selected>Genero</option>
                                  <option>Masculino</option>
                                  <option>Femenino</option>
                                </select>
                                <input type="text " class="form-control " placeholder="@Correo Electronico" aria-label="Username " aria-describedby="basic-addon1 ">
                            </div>

                            <div class=" d-flex input-group mb-3 my-3 shadow">
                                <input type="text " class="form-control " placeholder="Telefono" aria-label="Username " aria-describedby="basic-addon1 ">
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirma Contraseña">

                            </div>
                        </div>
                    </div>
                    <div class=" input-group" btn>
                        <a href="#" class="btn  btn-success shadow">GUARDAR CAMBIOS</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<!--edicion encargado-->