<div class="img">
    <section>
        <div class="row g-0">
            <div class="col-lg-7 d-none d-lg-block">
                <img class="min-vh-100 active " src="\assets\LOGIN\LOGO\logotipo.svg" width="300x" style="margin-left: 25%;">
            </div>

            <div class="col-lg-4 d-flex align-items-center ">
                <div class="card shadow p-3 mb-5 bg-white rounded " style="width: 30rem;">
                    <ul class="list-group list-group-flush">
                        <h2 class="list-group-item text-center">Iniciar Sesion</h2>

                    </ul>
                    <form [formGroup]="formularioLogin">
                        <div class="form-group my-5 inputBox">
                            <label for="exampleInputEmail1"><img src="\assets\LOGIN\ICONOS LOG IN\correo.svg" width="20px"> Correo Electrónico</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ej.contacto@gmail.com" formControlName="email">
                        </div>

                        <div class="form-group my-5 inputBox">
                            <label for="exampleInputPassword1"><img src="\assets\LOGIN\ICONOS LOG IN\contrasena.svg" width="15px"> Contraseña</label>
                            <input type="password" class="form-control my-1" id="exampleInputPassword1" placeholder="*********" formControlName="contrasena">
                        </div>
                    </form>
                    <button type="button" (click)="loginbtn()" class="btn btn-primary btn-block shadow rounded">INICIAR SESIÓN</button>
                    <div class="my-3"></div>
                </div>
            </div>
        </div>
    </section>
</div>