.menu {
    background-color: black;
}

#icon {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text {
    font-size: 15px;
    text-decoration: transparent;
    margin-right: 15px;
    margin-top: 15px;
    color: white;
}