<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<div class="btn-group">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fas fa-bars"></i>
  </button>
    <ul class="dropdown-menu menu" aria-labelledby="dropdownMenuButton">
        <a class=" btn-group d-flex align-items-center text" href="http://localhost:4200/listadoDepartamentos"><img id="icon" src="\assets\ENCARGADO\SIDE BAR\departamentos.svg" width="35px"> Listado de Departamentos</a>
        <a class=" btn-group d-flex align-items-center text" href="http://localhost:4200/listadoTrabajadores"><img id="icon" src="\assets\ENCARGADO\SIDE BAR\listado trabajadores.svg" width="35px"> Listado de Trabajadores</a>
    </ul>
</div>