<!--navbar-->
<app-navbar></app-navbar>
<!--final navbar-->

<!--carousel-->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="\assets\Carousel\img_1.jpg" alt="First slide">
            <div id="info" class="carousel-caption d-none d-md-block">
                <h1>BIENVENIDO</h1>
                <h4>A LA PLATAFORMA</h4>
                <h1>SUPERMERCADO</h1>
                <div id="borde1"></div>
                <p id="textoLo" class="text-center text-white-50"> Lorem ipsum dolor sit amet,sequi asperiores corporis temporibus enim! Tempora ea eius suscipit doloribus inventore possimus aliquid error. Distinctio.</p>

            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="\assets\Carousel\img_2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="\assets\Carousel\img_3.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>
<!--final de carousel-->

<!--nuestra plataforma-->
<div class="container">
    <div class="row text-center my-5">
        <div class="col-sm"></div>
        <div class="col-sm-6 ">
            <h2 id="idPlataforma">Nuestra Plataforma</h2>
            <p class="my-5 text-justify">Lorem sum dolor amet consectetur adipisicing elit. Doloribus quidem nulla, error saepe omnis mollitia tenetur ut vel accusamus, dignissimos placeat eveniet suscipit sint possimus neque aliquid, corporis soluta vitae qui. Inventore architecto
                cumque Facere!</p>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
<!--final de nuestra plataforma-->

<!--beneficios-->
<section id="ribbon">
    <div class="container">
        <div class="py-5">
            <div class="text-center ">
                <h2 id="idBeneficios">Beneficios</h2>
            </div>

            <div class="row my-5 ">
                <div class="col-md-4 ">
                    <div id="card" class="card shadow p-3 mb-5 bg-white rounded" style="width: 15rem;">
                        <img id="icon" src="\assets\icons\BENEFICIOS\icon3_1.svg" width="60px">
                        <div class="card-body">
                            <h5 class="card-title text-center">Lorem Ipsum</h5>
                            <br>
                            <div id="borde2"></div>
                            <br>
                            <p class="card-text text-center">Lorem ipsum dolor. Odit optio recusandae impedit dolorum ex ea at nemo, sequi repudiandae!</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div id="card" class="card shadow p-3 mb-5 bg-white rounded" style="width: 15rem;">
                        <img id="icon" src="\assets\icons\BENEFICIOS\icon2.svg" width="60px" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">Lorem Ipsum</h5>
                            <br>
                            <div id="borde2"></div>
                            <br>
                            <p class="card-text text-center">Lorem ipsum dolor. Odit optio recusandae impedit dolorum ex ea at nemo, sequi repudiandae!</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div id="card" class="card shadow p-3 mb-5 bg-white rounded" style="width: 15rem;">
                        <img id="icon" src="\assets\icons\BENEFICIOS\icon3.svg" width="45px" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">Lorem Ipsum</h5>
                            <br>
                            <div id="borde2"></div>
                            <br>
                            <p class="card-text text-center">Lorem ipsum dolor. Odit optio recusandae impedit dolorum ex ea at nemo, sequi repudiandae!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--fin de beneficios-->

<!--nuetros clientes-->
<div class="container">
    <div class="text-center ">
        <h2 id="idClientes" class="my-5 text-center">Nuestros Clientes</h2>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div id="card" class="card shadow p-3 mb-5 bg-white rounded" style="width: 12rem;">
                <img class="my-4" id="icon" src="\assets\icons\NUESTROS CLIENTES\icono1.svg" width="57px" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">Lorem ipsum</h5>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div id="card" class="card shadow p-3 mb-5 bg-white rounded" style="width: 12rem;">
                <img class="my-4" id="icon" src="\assets\icons\NUESTROS CLIENTES\icono2.svg" width="59px" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">Lorem ipsum</h5>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div id="card" class="card shadow p-3 mb-5 bg-white rounded" style="width: 12rem;">
                <img class="my-4" id="icon" src="\assets\icons\NUESTROS CLIENTES\icono3.svg" width="70px" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">Lorem ipsum</h5>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div id="card" class="card shadow p-3 mb-5 bg-white rounded" style="width: 12rem;">
                <img class="my-4" id="icon" src="\assets\icons\NUESTROS CLIENTES\icono4.svg" width="68px" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">Lorem ipsum</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!--final nuetros clientes-->

<!--Regresar al inicio-->
<div class="container text-right py-5">
    <a href="#" class="btn btn-link text-black-50">Subir en Pagina</a>
</div>
<!--Final de la parte para regresar al inicio-->

<!--footer pagina-->
<section id="ribbon2">
    <div class="container">

        <div class="row">

            <div class="col-md-4 contactanos">
                <h6 id="fotterIcon" class="text-white my-4 text-center">CONTÁCTANOS</h6>
                <div class="container">
                    <p id="InfoFotter" class="text-white"><img class="my-1" id="icon" src="\assets\icons\CONTACTANOS\direccion.svg" width="20px"> &nbsp; &nbsp; Gob, José Ugarte, Col. Nueva Chapultepec <br> &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Morelia, Michoacán</p>
                    <p id="InfoFotter" class="text-white"><img class="my-1" id="icon" src="\assets\icons\CONTACTANOS\telefono.svg" width="20px"> &nbsp; &nbsp; (999) 999 9999</p>
                    <p id="InfoFotter" class="text-white"><img class="my-1" id="icon" src="\assets\icons\CONTACTANOS\correo.svg" width="20px"> &nbsp; &nbsp; contacto@supermercado.com</p>
                    <p id="InfoFotter" class="text-white"><img class="my-1" id="icon" src="\assets\icons\CONTACTANOS\sitioweb.svg" width="20px"> &nbsp; &nbsp; https://wwww.supermercado.com</p>
                </div>
            </div>

            <div class="col-md siguenos">
                <h6 id="fotterIcon" class="text-white my-4 text-center">SIGUENOS EN</h6>
                <div class=" container text-center">
                    <a id="icon" class="my-1 " href="https://www.instagram.com/?hl=es"> <img src="\assets\icons\SIGUENOS\instagram.svg" width="30px"></a>&nbsp; &nbsp; &nbsp; &nbsp;
                    <a id="icon" class="my-1 " href="https://www.whatsapp.com/?lang=es"> <img src="\assets\icons\SIGUENOS\whatsapp.svg" width="30px"></a>&nbsp; &nbsp; &nbsp; &nbsp;
                    <a id="icon" class="my-1 " href="https://www.facebook.com"> <img src="\assets\icons\SIGUENOS\facebook.svg" width="30px"></a>
                </div>
            </div>

            <div class="col-md legal">
                <h6 id="fotterIcon" class="text-white my-4 text-center">LEGAL</h6>
                <div class="container">
                    <p class="text-white"> Politica de cookies</p>
                    <p class="text-white"> Politicas de privacidad</p>
                    <p class="text-white"> Términos y condiciones</p>
                </div>
            </div>

            <div class="col-md faqs">
                <h6 id="fotterIcon" class="text-white my-4 text-center">FAQS</h6>
                <div class="container">
                    <p class="text-white"> Solicitud contacto</p>
                    <p class="text-white"> ¿Quienes somos?</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!--final footer pagina-->

<!--pie pagina-->
<div class="my-1"></div>
<section id="ribbon3">
    <div class="container">
        <div id="textFooter" class="row">

            <div class="col-md-4">
                <p class="text-left text-white my-3"> Hecho con &nbsp; <img src="\assets\icons\FOOTER\icon1.svg" width="30px"> &nbsp; & &nbsp; <img src="\assets\icons\FOOTER\icon2.svg" width="30px"> &nbsp; en Morelia Mich. </p>
            </div>

            <div class="col-md">
                <p id="correo" class="text-white my-3"> Innmortal &copy;2021 todos lso derechos reservados </p>
            </div>

        </div>
    </div>
</section>
<!--final pie pagina-->