#info {
    margin-bottom: 100px;
    text-shadow: rgba(10, 10, 10, 0.548) 0.1em 0.1em 0.2em;
}

#borde1 {
    height: 5px;
    width: 10%;
    background-color: white;
    margin: auto;
}

#textoLo {
    margin-left: 250px;
    margin-right: 250px;
    font-size: 13px;
    text-shadow: rgba(10, 10, 10, 0.548) 0.1em 0.1em 0.2em;
}

#ribbon {
    background-color: rgb(188, 208, 221);
}

#icon {
    margin: auto;
}

#card {
    margin: auto;
}

#borde2 {
    height: 5px;
    width: 50%;
    background-color: rgb(40, 133, 22);
    margin: auto;
}

#ribbon2 {
    background-color: #1b1f24;
}

#fotterIcon {
    margin: auto;
}

#InfoFotter {
    font-size: 13px;
}

.contactanos {
    border-right: 1px solid white;
}

.siguenos {
    border-right: 3px solid white;
}

.legal {
    border-right: 1px solid white;
    font-size: 13px;
}

.faqs {
    font-size: 13px;
}

#ribbon3 {
    background-color: #1c57a0;
}

#textFooter {
    font-size: 13px;
    margin: auto;
}

#correo {
    margin-left: 5%;
}