.tabla {
    background-color: black;
}

.titulo {
    font-size: 25px;
}

.texto {
    margin: auto;
    text-align: center;
    font-size: 200%;
}

.boton {
    margin: auto;
    text-align: center;
}