<!--navbar-->
<app-navbar2></app-navbar2>
<!--final navbar-->

<!--listado encargado-->
<h2 class="text-center titulo">Listado de Departamentos</h2>
<div class="container my-3">
    <div class="row">

        <div class="col-md-3 siderbar">
            <app-siderbar2></app-siderbar2>
        </div>

        <div class="col-md-8">
            <!-- Button modal -->
            <button style="margin-left:69%;" type="button" class="btn btn-success shadow " data-toggle="modal" data-target="#exampleModal">
                AGREGAR DEPARTAMENTO
            </button>
            <!--Final Button modal -->

            <table class="table table-striped table-bordered table-hover my-3">
                <thead>
                    <tr class="tabla text-white text-center">
                        <td>Departamento</td>
                        <td>Acción</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let ListadoDepartamento of ListadoDepartamentos">
                        <td>{{ListadoDepartamento.nombreDepartamento}}</td>
                        <td><a class="btn btn-danger text-white shadow " role="button ">ELIMINAR</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--final listado encargado-->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title texto" id="exampleModalLabel">Registrar Departamento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <input type="text " class="form-control  " placeholder="Ingresa El Departamento " aria-describedby="basic-addon1 ">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sl boton">GUARDAR</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Final Modal -->