<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light  ">
        <img src="\assets\icons\NAV BAR\logo.svg" alt="logo" width="100px">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="texto" class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active ">
                    <a class="nav-link " href="#idPlataforma"> Plataforma</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#idBeneficios">Beneficios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#idClientes">Nuestros Clientes</a>
                </li>
            </ul>

            <a class="btn btn-outline-primary" href="http://localhost:4200/login" type="button"><img src="\assets\icons\NAV BAR\a_login.svg " width="20px"> Iniciar Sesion</a>
        </div>
    </nav>
</div>