<nav class="navbar navbar-expand-lg navbar-light shadow p-3 mb-5 bg-white rounded ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav " style="margin-left: 43%; margin-right: auto;">
            <img src="\assets\SUPER-ADMIN\NAV BAR\logo.svg" alt="logo" width="150px">
        </ul>

        <a class="btn btn-outline-danger" href="http://localhost:4200/home" type="button"><img src="\assets\SUPER-ADMIN\NAV BAR\b_logout.svg " width="20px"> Cerrar Sesion</a>

    </div>
</nav>