<!--navbar-->
<app-navbar2></app-navbar2>
<!--final navbar-->

<!--listado encargado-->
<h2 class="text-center titulo">Listado de Trabajadores</h2>
<div class="container my-3">
    <div class="row">

        <div class="col-md-3 siderbar">
            <app-siderbar2></app-siderbar2>
        </div>

        <div class="col-md-8">
            <div style="margin-left:72%;">
                <a href="http://localhost:4200/registroTrabajadores" class="btn btn-success shadow" role="button">AGREGAR TRABAJADOR</a>
            </div>

            <table class="table table-striped table-bordered table-hover my-3">
                <thead>
                    <tr class="tabla text-white text-center">
                        <td>ID</td>
                        <td>Departamentos</td>
                        <td>Nombres(s)</td>
                        <td>Apellidos</td>
                        <td>Dias Laborales</td>
                        <td>Teléfono</td>
                        <td>Acciones</td>

                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let ListadoTrabajadores of ListadoTrabajadores2">
                        <td>{{ListadoTrabajadores.IDTrabajador}}</td>
                        <td *ngFor="let ListadoDepartamento of ListadoDepartamentos">{{ListadoDepartamento.nombreDepartamento}}</td>
                        <td>{{ListadoTrabajadores.nombre}}</td>
                        <td>{{ListadoTrabajadores.apellidos}}</td>
                        <td>{{ListadoTrabajadores.diasLaborales}}</td>
                        <td>{{ListadoTrabajadores.telefono}}</td>
                        <td><a href="http://localhost:4200/edicionTrabajadores" class="btn btn-warning text-white shadow editar" role="button ">EDITAR</a><a class="btn btn-danger text-white shadow " role="button ">ELIMINAR</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--final listado encargado-->